{% extends 'index.html' %}

        
        {% block header %}  
        <header class="text-center text-primary bg-light p-4">
            <h1 class="fw-semibold text-primary bg-light mb-3">{{ category }}</h1>
            <div><span class="badge bg-success fs-6 text-center mb-1">Voting Underway</span></div>
            <p class="text-danger">00 hrs : 00 mins left.</p>
        </header><!-- End: Header -->
        {% endblock header %}
        
        
           
        {% block main-body %}
        <!-- Start: Candidates -->
        {% block result %}
        <div class="row gx-0 gy-5 row-cols-md-2 mt-2">
            {% for candidate in candidates %}   
            <div class="col">
                <div class="text-center"><img class="mb-1" src="{{ candidate.image.url }}" width="250" height="250">
                    <p class="fs-5 fw-semibold text-primary mb-2">{{ candidate.name }}</p>
                    
                      
                    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-id="{{ candidate.pk }}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check2-square">
                            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"></path>
                            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"></path>
                        </svg>&nbsp;Vote
                    </button>
                </div>
            </div>
            {% endfor %}
        </div><!-- End: Candidates -->
        {% endblock result %}

        
        {% block modal %} 
        {% for candidate in candidates %}
         <!-- Start: modal -->
         <section>
            <div class="modal fade" role="dialog" tabindex="-1" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="fw-semibold text-primary modal-title" id="staticBackdropLabel">Confirm vote for</h5>
                        </div>
                        <div class="modal-body">  
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End: modal -->
        {% endfor %}
        {% endblock modal %}
        {% endblock main-body %}